/* TOP MENU */
.ui.borderless.top.menu {
  background-color: white;
  border: none;
  box-shadow: none;
}

.ui.mini.borderless.top.menu a.item:hover,
.ui.top.container .item:hover {
  background-color: #51007a;
  color: white;
}

.ui.top.container .item{
  color: #51007a;
  padding-top: 1px;

}

/* SECOND MENU */
.ui.borderless.menu {
  background-color: #51007a;
  border: none;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
}

.ui.borderless.menu a.item:hover,
.ui.container .item:hover {
  background-color: black;
  color: white;
}

.ui.tt.container .item{
  color: white;
  letter-spacing: 2px;
}

/* FIRST SPLASH */
.purple-background {
  background-color: #51007a;
  color: white;
  height: 700px;
  padding-top: 100px;
  padding-bottom: 30px;
  letter-spacing: 2px;

}

.purple-background h1 {
  font-weight: lighter;
  font-size: 35px;
}

.large.ui.white.button a{
  color: #51007a;
  font-weight: lighter;
}

.large.ui.inverted.button a:hover{
  color: #51007a;
  font-weight: lighter;
}

.large.ui.inverted.button a{
  color: white;
  font-weight: lighter;
}




